// File for scss-vars.
// For example: main colors, paddings and so on.

//colors
$grey: #333;
$light-grey: #888;
$ultra-light-grey: #eee;
$blue: #0066CC;
$white: #fff;
$black: #000;

$chat-width: 960;
$chat-height: 640;
