.chat {

    &__container {
        display: table;
        width: 100%;

        border-collapse:collapse;
    }

    &__left,
    &__right {
        display: table-cell;
        height: $chat-height + px;

        vertical-align: top;

        border: 1px solid #cccccc;
    }

    &__right {
        border: 1px solid #cccccc;
    }

    &__input {
        bottom: 2px;
    }

}
