.page {

    &__container {
        display: table;
        width: $chat-width + px;
        margin: 0 auto;

        border-collapse:collapse;
    }

    &__chat {
        display: table-cell;

        vertical-align: middle;
    }

}
